@charset "utf-8";
         
             
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
*{margin: 0; padding: 0;}
a{text-decoration: none; color: #333;}

body{font-family: 'Noto Sans KR', sans-serif;}
h4{font-size: 50px; font-family:'Playfair Display', serif; font-weight: lighter;}
h2{font-size: 20px; font-weight: bold;}
h1{font-family: 'Playfair Display', serif; font-size: 65px; font-weight: lighter; font-style: italic;
 letter-spacing: 5px;}   

 /* ν—¤λ” */
 header{width: 1180px; height:  100px; margin: 0 auto; text-align: center;}
 header li{float: left; padding:0%; list-style: none;  margin: 15px; font-size: 18px; } 
 header a{color: white;}

 div.headerbtn img{width:100%; }
 div.headerbtn{width: 100%; height: 780px; position: relative; background-image: url(../img/mainbanner.jpg); background-position: center; background-size: cover;}
 header ul{overflow: hidden; width: 300px;float: left; }
 .icon{width: 300px; height: 50px;  float: right;}
 .icon div{display: inline-block; width: 30px; height: 30px; padding: 10px 20px 20px 20px;}                   
 header>span{ color: white; font-size: 80px; font-family:'Playfair Display', serif;}
.headertext{width: 1180px; height: auto; margin: 400px auto; text-align: right; text-shadow: 5px 1px 5px white;
          font-size: 90px; font-family:'Playfair Display', serif; font-weight: bold; font-style: italic; }

/* ν‘Έν„° */
footer{width:100%; margin: 0 auto; border-top: 3px solid#666;}
                  .bottom{background-color: bisque; width: 100%; height: 100px; 
                    line-height: 100px; text-align: center;}
                  .container{display: flex; width: 1180px; margin: 0 auto; height: 250px;}
                  .container >div{width: 500px;}  